<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <appSettings>
    <add key="CryptoType" value="LeftShiftCrypto"/>
    <!--ReverseCrypto：倒序加密；LeftShiftCrypto：左移加密；HexadecimalCrypto：十六进制加密-->
  </appSettings>
</configuration>
